/* Example styles for themes */
body {
  padding: 20px;
}
.bg-secondary {
    background-color: #858585 !important;
    color: #808080;
}
.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #6d6d6d;
}

/* Themes */
.light {
  background-color: #6e6c6c;
  color: #000;
}


.dark {
  background-color: #343a40;
  color: #fff;
}

.sepia {
  background-color: #f4e9d7;
  color: #38322b;
}

/* List Styles */
.striped .list-group-item:nth-of-type(odd) {
  background-color: rgba(0,0,0,.05);
}

.bordered .list-group-item {
  border: 1px solid #dee2e6;
}

